
* {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body{
    font-family: "";
    margin: 0 auto;
    width: 70%;
    font-family: "roboto mono", sans-serif;
    background-color: #068d96;
}      
     
#Header{
    background-color: #068d96;
    height: 3rem;
    margin: 0 0 0 0;
    position: fixed;
    width: 70%;
    
}
#Navegacao_header{
    width: 100%;
    justify-content: center;
    height: 3rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
#Navegacao_header a{
    color: #ffffff;
    margin: 0 auto;
    text-decoration: none;
    
}
#Home{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    padding-top: 10rem;
    
}
#Primeiro_titulo{
    color: black;
    font-size: 3rem ;
    margin-bottom: 0;   
}

#Segundo_titulo{
    color: white;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}
#Segundo_titulo b{
    background-color: #068d96;
}
#Home p{
    color: #ffffff;
    margin-top: 1rem;
    font-size: 2rem;
}
#Navegacao_about{
    height: auto;
    padding: 8px 4px 8px 4px;
    
}
#Navegacao_about a{
    color: white;
    text-decoration: none;    
    padding: 8px 4px 8px 4px;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s;
}
#Navegacao_about a:hover{
    background-color: #04666d;
}
#Att{
    background-color: transparent;
    
    border: solid 0px #068d96;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Att2{
    background-color: transparent;
    border: solid 0px #fff;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Sobremim{
    
    height: 720px;
}
#Sobremim h2{
    padding-top: 100px;
    padding: 20px;
}
#Paragrafo{
    color: white;
    padding: 20px;
    font-size: 20px;
}
#Sobremim img{
    width: 5rem;
    padding-left: 10px;
    justify-content: space-between;
}


#Servicos{
    height: fit-content;
    display: block;
    justify-content: space-between;
    align-items: center;
}
#Firstchoice{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    background-image: url(/Imagens/backgroundmain2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    border-radius: 5px;
    margin: 0 auto;
    
    align-items: center;
}

#Firstchoice h1{
    color: #ffffff;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
}


#Firstchoice li{
    padding: 5px;
    margin-top: 20px;
    color: black;
}

#Firstchoice a{
    padding: 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: black;
    text-decoration: none; 
    background-color: #068d96;
    transition: all .3s;
}
#Firstchoice a:hover{
    background-color: #04666d;
}

#Projetos{
    height: fit-content;
    
}
#Projetos img{
    width: 100%;
}
#Projetos h1{
    color: white;
}
.Imagem_manutencao{
    height: 250px;
}
#Titulo_Manut{
    color: white;
}

#Contato{
    height: 720px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Contato img{
    width: 5rem;
    padding-left: 10px;
}



@media screen and (max-width: 799px){
    body{
        width: 100%;
    }
    #Header{
        width: 100%;
        
        margin: 0 auto;
    }
    main{
        padding: 5px;
    }
    #Home{
        width: 100%;
        padding-top: 160px;
        padding-left: 0;
        margin: 0 auto;
    }
    #Navegacao_header{
        
        width: fit-content;
    }
    #Navegacao_header a{
        padding: 5px;
    }
    #Sobremim img{
        width: 3rem;
    }
    #servicos{
        width: 100%;
        height: fit-content;
    }
    #Firstchoice{
        width: 90%;
    }
    #Projetos{
        width: 100%;
    }
}